<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>

<body>
    <div id="app">

        <p>
            <h1 v-once>{{ title }}</h1>
            {{ sayHello() }}
            <a v-bind:href=" link "> here</a>
        <!--<a :href=" link "> here</a>-->
            <!-- <img v-bind:src=" img " alt=""> -->
        </p>
        <p v-html="linkFinished">

        </p>
    </div>

    <hr>
    <div id="exercise">
        <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <p>VueJS is pretty cool - {{name}} ({{age}})</p>
        <!-- 2) Output your age, multiplied by 3 -->
        <p>{{age * 3}}</p>
        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <p>{{ multiply() }}</p>
        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <div>
            <img v-bind:src=" img " style="width:100px;height:100px">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <div>
            <input type="text" v-bind:placeholder="name">
        </div>
    </div>
    <hr>


    <div id="counter">
        <!--<button v-on:click="increase">increase</button>
        <button v-on:click="decrease">decrease</button>-->
       <!-- <button v-on:click="counter++">increase</button>-->
        <button @click="counter++">increase</button>
        <button v-on:click="counter--">decrease</button>
        <button v-on:click="counter2++">increase2</button>
       <!-- <button v-on:click="counter++">Click me</button>-->
        <h1>{{counter}} | {{counter2}}</h1>
        <h2>{{ result() }} | {{ output }}</h2>
       <!-- <h1>{{counter > 10 ? "maggiore di 10" : "minore di 10"}}</h1>-->
        <p v-on:mousemove="updateCoordinates">
            coordinates: {{ x }} {{ y }} -
            <span v-on:mousemove.stop=""> dead spot </span>
        </p>
        <input type="text" v-on:keyup.enter="alertMe">
    </div>




    <hr>
    <div id="exercise2">
         <!-- 1) Show an alert when the Button gets clicked -->
        <div>
            <button v-on:click="alertMe">alert</button>
        </div>
        <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
        <div>
            <input type="text" v-on:keydown="value = $event.target.value">
            <p>{{ value }}</p>
        </div>
         <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
        <div>
            <input type="text" v-on:keyup.enter="value = $event.target.value">
            <p>{{ value }}</p>
        </div>

    </div>
    <hr>

    <div id="exercise3">

        <div>
            <input type="text" v-model="name">
            <p>{{name}}</p>
        </div>


    </div>


    <div id="exercise4">
        <!-- 1) Show a "result" of 'not there yet' as long as "value" is not equal to 37 - you can change "value" with the buttons. Print 'done' once you did it -->
        <div>
            <p>Current Value: {{ value }}</p>
            <button @click="value += 5">Add 5</button>
            <button @click="value += 1">Add 1</button>
            <p>{{ result }}</p>
        </div>
        <!-- 2) Watch for changes in the "result" and reset the "value" after 5 seconds (hint: setTimeout(..., 5000) -->
        <div>
            <input type="text">
            <p>{{ value }}</p>
        </div>
    </div>

    <div id="exercise5">
        <div class="demo" @click="attachBlue = !attachBlue" :class="{blue: isAttached}"></div>
        <div class="demo" ></div>
        <div class="demo" :class="color"></div>
        <div>
            <input type="text" v-model="color">
        </div>


        <div></div>
    </div>




    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>