body {
  background: green; }

.item {
  display: flex;
  background: red;
  transition: width 2s; }
  .item .ex {
    color: red; }

@keyframes example {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: blue; }
  100% {
    background-color: green; } }

:fullscreen a {
  display: flex; }

:root {
  --red: #d33;
  --bau: ciao; }

a:hover {
  color: color(var(--bau) a(54%)); }
