body {
  background: pink; }

.demo {
  width: 100px;
  height: 100px;
  background-color: red;
  display: inline-block;
  margin: 5px; }

.blue {
  background-color: blue; }

.green {
  background-color: green; }

.pink {
  background-color: pink; }
